# PY003 Collections

In [1]:
# collectionsare also called sequences
# we will look at lists, tuples, and sets

In [3]:
# lists; created using []: mutable

courses  = [] #empty list
courses

[]

In [4]:
courses = ['History','Math','Data Science','Coding',3]

In [5]:
print(len(courses))

5

In [6]:
courses[1:3]

['Math', 'Data Science']

In [8]:
courses[-1]

3

In [9]:
courses.append('Art')

In [10]:
courses

['History', 'Math', 'Data Science', 'Coding', 3, 'Art']

In [12]:
courses.remove('Math')

In [13]:
courses

['History', 'Data Science', 'Coding', 3, 'Art']

In [14]:
more_courses = ['English','Drafting']

In [15]:
courses.extend(more_courses) # extend : take list as an input

In [16]:
courses

['History', 'Data Science', 'Coding', 3, 'Art', 'English', 'Drafting']

In [17]:
courses.insert(2, 'Chemistry')

In [18]:
courses

['History',
 'Data Science',
 'Chemistry',
 'Coding',
 3,
 'Art',
 'English',
 'Drafting']

In [19]:
# pop() method to return a value
# pop() will remove that value from the list

courses.pop(2)

'Chemistry'

In [20]:
courses

['History', 'Data Science', 'Coding', 3, 'Art', 'English', 'Drafting']

In [21]:
for item in courses:
    print(item)

History
Data Science
Coding
3
Art
English
Drafting

In [22]:
# use the in operator to check and see if an item is in the list
print('Math' in courses)

False

In [23]:
print('Data Science' in courses)

True

In [24]:
# to get the index, use the enumerate() function
# It returns the index and the value

for i, c in enumerate(courses):
    print(i,"-->",c)

0 --> History
1 --> Data Science
2 --> Coding
3 --> 3
4 --> Art
5 --> English
6 --> Drafting

In [25]:
# we can choose our own index

for i,c in enumerate(courses):
    print(i+1,"-->",c)

1 --> History
2 --> Data Science
3 --> Coding
4 --> 3
5 --> Art
6 --> English
7 --> Drafting

In [26]:
for _ in range(10): # throw away variable
    print('Coffee time')

Coffee time
Coffee time
Coffee time
Coffee time
Coffee time
Coffee time
Coffee time
Coffee time
Coffee time
Coffee time

In [29]:
courses.remove(3)

3

In [32]:
#Using the join() method of a string

courses_str = ';'.join(courses)

In [33]:
courses_str

'History;Data Science;Coding;Art;English;Drafting'

In [36]:
# split() method creates a list from a string; It returns a list

new_list = courses_str.split(';')
new_list

['History', 'Data Science', 'Coding', 'Art', 'English', 'Drafting']

In [37]:
# tuples : are created using comma; immutable

schools = ('GWU','AU')
print(type(schools))

<class 'tuple'>

In [38]:
schools[1]

'AU'

In [39]:
md_schools = 'UMD','Johns Hopkins'
print(type(md_schools))

<class 'tuple'>

In [40]:
md_schools

('UMD', 'Johns Hopkins')

In [41]:
md_schools.append("Loyola")

AttributeError: 'tuple' object has no attribute 'append'

In [42]:
md_schools.remove('UMD')

AttributeError: 'tuple' object has no attribute 'remove'

In [43]:
va_schools = ('UVA')
print(type(va_schools))

<class 'str'>

In [45]:
va_schools = ('UVA',) # makes it tuple
print(type(va_schools))

<class 'tuple'>

In [46]:
wv_schools = tuple() # empty tuple

In [47]:
# sets: sets are created using {}
# sets ignore duplicates

In [48]:
a = {1,2,3,4,5}
print(type(a))

<class 'set'>

In [49]:
b = {1,1,2,2,3,3,4,4,5,5}
b

{1, 2, 3, 4, 5}

In [50]:
a == b

True

In [51]:
c = {'Bugs Bunny','Daffy Duck','Porky Pig','Marvin Martian','Pete Puma'}
d = {'Mickey Mouse','Minnie Mouse','Bugs Bunny'}

In [52]:
c.intersection(d)

{'Bugs Bunny'}

In [53]:
c.difference(d)

{'Daffy Duck', 'Marvin Martian', 'Pete Puma', 'Porky Pig'}

In [55]:
d.difference(c)

{'Mickey Mouse', 'Minnie Mouse'}

In [54]:
c.union(d)

{'Bugs Bunny',
 'Daffy Duck',
 'Marvin Martian',
 'Mickey Mouse',
 'Minnie Mouse',
 'Pete Puma',
 'Porky Pig'}

In [56]:
# creating empty collections

empty_list = []
empty_list = list()

empty_tuple = ()
empty_tuple = tuple()

empty_set= {} # doesn't work
print(type(empty_set))

<class 'dict'>

In [57]:
empty_set = set()
print(type(empty_set))

<class 'set'>